.inputs {
  display: flex;
}

.inputs input {
  flex-grow: 1;
  width: 100%;
}

.inputs label:not(:last-child) {
  margin-right: 10px;
}

.inputs label:last-child {
  flex-grow: 1;
}

.inputsP {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between; /* Равномерное распределение между элементами */
  color: red;
  margin: 0;
}

.inputsSubmitBtn {
  width: 100%;
  padding: 10px 20px;
  background-color: whitesmoke;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0;
}

.inputsSubmitBtn:hover {
  background-color: aquamarine;
  color: darkgray;
}
