.addphoto {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* изменено */
}

.addphoto label {
  align-self: flex-start; /* изменено */
  margin-bottom: 10px;
  text-align: left; /* изменено */
}

.addphoto button {
  align-self: stretch; /* изменено */
  padding: 6px 0;
  width: 490px; /* изменено */
}

.addphoto button:hover {
  background-color: aquamarine;
  color: gray;
}
