.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* Стили для AddPhoto */
.gallery > :first-child {
  align-self: flex-start;
}

/* Стили для ItemPhoto */
.gallery > :not(:first-child) {
  margin-top: 10px;
  margin-left: 2px;
}
