.header {
  display: flex;
  justify-content: center;
}

.header ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.header li {
  margin-right: 20px;
}

.header li a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.languageSelector {
  display: flex;
  gap: 10px;
}

.languageSelector button {
  background-color: whitesmoke;
  border: none;
  cursor: pointer;
}
