.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  height: 300px;
  width: 650px;
}

p {
  width: 148px;
  text-align: center;
}

section {
  margin-left: 35px;
}

.btnLearnMore {
  margin-left: 9px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: whitesmoke;
  color: black;
  transition: background-color 0.3s ease;
}

.btnLearnMore:hover {
  background-color: aqua;
}

.clampedText {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

img {
  margin: 0;
}
